input {
  border-radius: 5px;
}

h5{
  margin: 15px;
}
input[type="submit"]{
  background-color: greenyellow;
  padding: 1px 20px 1px 20px;
  margin-right: 1%;
}

button {
  background-color: red;
  color: white;
  padding: 1px 20px 1px 20px;
  border-radius: 3px;
}

* {
  background-color: aquamarine;
}

